:root {
  --text-font: 'Roboto', sans-serif;
  --text-font-logo: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --wite-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --color-footer: #2f303a;
  --icon-color: #afb1b8;
  --main-bg-color: #f5f4fa;
  --time-animation: 250ms;
  --bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--text-font);
  color: var(--black-color);
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-size: 14px;
}

.link {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
}

.model-btn {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover,
.model-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-button-list li:not(:last-child) {
  margin-right: 8px;
}

.social-button-list {
  display: inline-flex;
  margin-bottom: 50px;
}

.social-model-btn {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #ffffff;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-model-btn:hover,
.social-model-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-logotype {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logotype-span {
  color: #2196f3;
}

.header {
  border: 1px solid #ececec;
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-contact {
  display: flex;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon:not(:last-child) {
  margin-right: 50px;
}

.current-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-family: var(--text-font);
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover, .contact-list-link:focus {
  color: #2196f3;
}

.icon-mail {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.section-portfolio-list {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-title-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio-list-images {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 30px;
}

.portfolio-list-images li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list-images li {
  width: 370px;
}

.portfolio-list-images li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: initial;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover .projects-overlay-text {
  transform: translateY(0);
}

.portfolio-list-images
.list-images .social-button-list {
  margin-bottom: 50px;
}

.portfolio-list-images
.link-portfolio {
  display: inline-block;
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-titles {
  padding: 20px 24px;
  text-align: left;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  color: #f5f4fa;
}

.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: #212121;
  margin-bottom: 10px;
}

.title-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  color: #757575;
  margin-bottom: 16px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  width: 270px;
  text-align: center;
}

.list-images:not(:last-child) {
  margin-right: 30px;
}

.list-images {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img {
  display: block;
}

.our-team-list {
  padding: 30px 32px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items {
  width: 44px;
  height: 44px;
}

.social-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-list-icon:hover, .social-list-icon:focus {
  background-color: #188ce8;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.section-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: #ffffff;
}

.address-link {
  font-weight: 400;
  line-height: 1.714;
  color: #ffffff;
}

.footer-link-logotype {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #ffffff;
}

.address-list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  color: #ffffff;
}

.address-list-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.list {
  margin-top: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:not(:last-child) {
  margin-right: 70px;
}

.social-footer {
  margin-right: 93px;
  min-width: 206px;
  height: 80px;
}

.social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-footer {
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-items {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-footer-items:not(:last-child) {
  margin-right: 10px;
}

.social-footer-icon {
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  width: 570px;
}

.form-field input {
  display: flex;
  margin: 0;
  padding: 15px;
  width: 358px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.form-field inputinput::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(138, 104, 104, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.btn-icon {
  margin-left: 10px;
  fill: var(--wite-color);
}
/*# sourceMappingURL=portfolio.css.map */