.section-about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about__title {
    font-family: $text-font;
    @include font(14px, 700, 1.143);
      
    text-transform: uppercase;
    color: $black-color;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .about__text {
    font-family: $text-font;
    font-weight: 400;
    line-height: 1.714;
    color: $grey-color;
    width: 270px;
  }
  .about__list {
    display: flex;
    & li:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .about__list-item::before {
    display: block;
    content: '';
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-color: $main-bg-color;
  }
  
  
  .icon-group::before {
    background-image: url(../images/about_us/Group.svg);
    background-size: 70px;
  }
  
  .icon-clock::before {
    background-image: url(../images/about_us/clock.svg);
    background-size: 70px;
  }
  .icon-diagram::before {
    background-image: url(../images/about_us/diagram.svg);
    background-size: 70px;
  }
  .icon-astronaut::before {
    background-image: url(../images//about_us/astronaut.svg);
    background-size: 70px;
  }