.header__link-logotype {
    display: block;
    font-family: $text-font-logo;
    @include font(26px, 700, 1.192);
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header__logotype-color {
    color: $accent-color;
  }
  
  
  .header {
    border: 1px solid #ececec;
  }
  
  .header__navigation-list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $black-color;
  
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;

    &:hover,
    &:focus {
    color: $accent-color;
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;
  }
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .header__nav-list {
    display: flex;
  
    align-items: center;
    margin-left: 93px;
  
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;
  }
  
  .header__navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header__nav-list-contact {
    display: flex;
    margin-left: auto;
  
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;
  }
  .header__nav-icon:not(:last-child) {
    margin-right: 50px;
  }
  
  .header__current-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-family: var(--text-font);
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        transition-duration: $time-animation;
        transition-timing-function: $bezier-animation;
      }
  }
  
  
  
  
  .header__contact-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;

    &:hover,
    &:focus {
    color: $accent-color;
  }
  }
  
  
  
  .header__icon-mail {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
  
  .header__icon-phone {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }